In [1]:
print ("Hello Jupyter")

Hello Jupyter

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame()

In [4]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [21]:
df = pd.DataFrame([[2,4,6,8],[1,3,5,7],[11,22,33,44,55],[12,13,14,15,16],[23,24,25,26,27]])

In [20]:
print(df)

    0   1   2   3     4
0   2   4   6   8   NaN
1   1   3   5   7   NaN
2  11  22  33  44  55.0
3  12  13  14  15  16.0
4  23  24  25  26  27.0

In [7]:
df.head()

    0   1   2   3     4
0   2   4   6   8   NaN
1   1   3   5   7   NaN
2  11  22  33  44  55.0
3  12  13  14  15  16.0
4  23  24  25  26  27.0

In [8]:
df.head();

In [9]:
df.tail(2)

    0   1   2   3     4
3  12  13  14  15  16.0
4  23  24  25  26  27.0

In [16]:
df.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [15]:
df.tail(6)

    0   1   2   3     4
0   2   4   6   8   NaN
1   1   3   5   7   NaN
2  11  22  33  44  55.0
3  12  13  14  15  16.0
4  23  24  25  26  27.0

In [30]:
df1 = pd.DataFrame({
    "Name": [
        "Asad"
    ] 
}, index = ['a']
)

In [31]:
df1

   Name
a  Asad

In [33]:
poke = pd.read_csv('pokemon_data.csv')

In [34]:
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [35]:
print(poke.head(10))

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1                  Bulbasaur  Grass  Poison  45      49       49       65
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
9       64     43           1      False